- page_title! 'Babyshower'

= render 'countdown'
= render 'facebook'

.wrapper
  %h2.main-title
    Faltan:
    %br
    #defaultCountdown
    %br
    para el babyshower de las gemelitas.
  = render 'scripts/royal_slider'
  = render 'scripts/royal_slider_init'
  = render 'slides/lista'

  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgemelitas-sp.org%2F&amp;send=false&amp;layout=standard&amp;width=950&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=80&amp;appId=236994876375045" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:950px; height:80px;" allowTransparency="true"></iframe>


  %section#confirmar-asistencia.region
    %h3.title
    .confirmar
      %b
        confirmar tu asitencia es fácil
      %br
      llena tu nombre y tu e-mail, presiona enviar
      %br
      = render 'invitados/form'
    .fecha
      sábado 01|12
      %br
      3:00 pm

  %section#que-acontecera.region
    %h3.title ¿Qué acontecerá ese día?
    .informacion
      %p
        Este sábado primero de diciembre están invitados al baby shower de las gemelas. Es mixto, pueden ir chicos y chicas, habrá bocadillos, emparedados de mantequilla de maní con plátano, etc.
      %p
        Estamos preparando un buffet de brochetas de arroz y lentejas rellenas de pavo, ojalá acabemos a tiempo.
      %p
        No se olviden de darle like, compartir la página en su muro de facebook y llevar lindos obsequios para nuestras futuras angelitas.
      %p
        Después del babyshower vamos a usar esta página para postear las fotos de ese día y algunas noticias.
      %p
        Pronto tendremos fantásticas sorpresas.
      %br
      %p
        ¿Estás feliz por el babyshower? Déjanos tus comentarios, los vamos a guardar hasta que las gemelas sepan leer.
      %br
      <div class="fb-comments" data-href="http://gemelitas-sp.org/" data-num-posts="12" data-width="950" data-colorscheme="dark"></div>


  %section#como-llegar.region
    %h3.title ¿Cómo llegar?
    .direccion
      Av. Pardo 399, segundo piso, Miraflores / La Alameda y Hacienda club
    .mapa
      <iframe src="http://www.map-generator.org/65ba14de-0768-4aa1-9f6d-94520e6b5560/iframe-map.aspx" scrolling="no" height="352px" width="950px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

  %section#lista-del-bebe.region
    %h3.title Lista del bebé Ripley
    .codigo
      código: <b>2764587-9</b>
    %p
      Si vas a Ripley a comprar el regalo para las gemelitas o cualquier cosa que necesitas de la sección bebés, dando nuestro código nos harás acumular puntos y los podremos canjear por lindos obsequios para las gemelitas. ¿Lo máximo no?

  %section#preguntas.region
    %h3.title ¿Preguntas?
    .telefonos
      %ul
        %li Anita Guevara | 994148878, 414*8878
        %li Andrea Pastor | 987098744
    .correo
      hola@gemelitas-sp.org



